
*.pyc
*.prof
*.pickle
*.txt
!requirements.txt
.vscode/launch.json
*.rar
*.torch
read_packets.py
packet_sender.py
packet_receiver.py
interpret_packets.py
Data/packets_received.dill
Data/packets_transmitted.dill
Data/TraceUFSC.pth
Data/Delays.pth
*.bin
